<mat-accordion multi="true">
  <mat-expansion-panel expanded="true" id="tempo-panel" (opened)="panelOpenState = true" (closed)="panelOpenState = false"
    style="justify-content: center">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Tempo
      </mat-panel-title>
      <mat-panel-description>
        {{panelOpenState ? '' : 95}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-tempo></app-tempo>
  </mat-expansion-panel>
  <!-- Color Shit -->
  <mat-expansion-panel expanded="true" id="color-panel" (opened)="colorOpen = true" (closed)="colorOpen = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Color
      </mat-panel-title>
      <mat-panel-description>
        {{colorOpen ? '' : 'Colors'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-color>
    </app-color>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="true" id="light-panel" (opened)="lightOpen = true" (closed)="lightOpen = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Light Controls
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-light></app-light>
  </mat-expansion-panel>
</mat-accordion>
<div>
  <button mat-button (click)="req(0)">Start/Stop</button>
  <button mat-button (click)="req(1)">Off</button>
  <button mat-button (click)="req(2)">Toggle Power</button>
  <button mat-button (click)="req(3)">Toggle Color</button>
</div>