/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    display: block;
    /* justify-content: center;
    text-align: center; */
    /* width: 100%; */
}

div {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
 
.mat-button {
    display: flex;  
    text-align: left;
} 